<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Categorias</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
<body>
    <!-- Titulo  que se muestre en formulario -->
     <h2>Agregar Categorias</h2>

     <form id="formCategorias" method="POST">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id"><br><br>

        <label for="nombreCategoria">Nombre:</label>
        <input type="text" id="nombreCategoria" name="nombre"><br><br>

        <button type="submit">Guardar</button>
        <button type="reset">Cancelar</button>

     </form>   

     <p style="text-align: center;">Eduardo Viguera</p>

    <!-- Incluye jQuery desde un CDN -->
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Incluye el archivo de validaciones.js -->
    <script src="../../assets/js/validaciones.js"></script>
        
</body>
</html>